body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #6c490d, #553720, #957c4f, #fedf9e);
}

.chat-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.chat-messages {
    background: linear-gradient(45deg, #c6c1b8, #f9efe8, #c5c5c5, #ffffff);
    border: 3px solid #d3bc98;
    padding: 10px;
    max-height: 660px;
    overflow-y: scroll;
}

.chat-footer {
    position: fixed;
    bottom: 20px;
}

.message-input {

    flex: 1;
    padding: 8px;
    font-size: 16px;
    width: 480px;
    overflow-y: auto;
}

.send-button {
    background-color: rgb(81, 60, 44);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.text-messages {
    background-color: rgb(120, 95, 75);
    color: #fff;
    padding: 10px;
    border: 3px solid rgb(255, 227, 189);
    cursor: pointer;
    font-size: 16px;
}

#group-container {
    position: fixed;
    top: 18px;
    left: 30px;
    width: 370px;
    height: 400px;
    background-color: rgb(159, 141, 126);
    color: #fff;
    padding: 10px;
    border: 3px solid rgb(255, 227, 189);
    cursor: pointer;
    font-size: 16px;
}

#groups {
    position: fixed;
    top: 400px;
    left: 30px;
    width: 370px;
    height: 290px;
    background-color: rgb(159, 141, 126);
    color: #fff;
    padding: 10px;
    border: 3px solid rgb(255, 227, 189);
    cursor: pointer;
    font-size: 16px;
}

#group-details {
    position: fixed;
    left: 1010px;
    top: 20px;
    width: 380px;
    height: 400px;
    background-color: rgb(159, 141, 126);
    color: #fff;
    padding: 10px;
    border: 3px solid rgb(255, 227, 189);
    cursor: pointer;
    font-size: 16px
}

body {
    font-family: Arial, sans-serif;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Styles for the form container */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Close button style */
.close-btn {
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    height: 50px;
    width: 50px;
    top: 10px;
    right: 15px;
}

.list-group-items {
    list-style-type: none;
    margin-top: 2px;
    height: auto;
    width: 180px;
    background-color: #beaa8b;
    border-radius: 5px;
}